# Test binary, built with `go test -c`
*.test

# vi / vim swap files
*.swp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#Config file with credentials
ipss_config.yaml

#Compiled Binaries
#from go build
ip_self_serve

#from make build
Ipss
