# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Vim swap files
*.swp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#Config file with credentials
ipss_config.yaml

#Compiled Binaries
ip_self_serve

# Dependency directories (remove the comment below to include it)
# vendor/
